<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Universe Traders : Trade across the whole universe in your browser!">

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">

    <title>Universe Traders</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/hanzz/libtransport">View on GitHub</a>

          <h1 id="project_title">Universe Traders</h1>
          <h2 id="project_tagline">Trade across the whole universe in your browser!</h2>

            <section id="menu">
            <a class="menuitem" href="/">About</a>
            <a class="menuitem" href="/play">Play</a>
            <a class="menuitem" href="/develop">Develop</a>
            <a class="menuitem" href="/planets">Planets</a>
            <a class="menuitem" href="/items">Items</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
      {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Universe Traders maintained by <a href="https://github.com/hanzz">Jan Kaluza - HanzZ</a></p>
      </footer>
    </div>

            <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-57191511-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script> 

  </body>
</html>
